.bg-color {
	background-image: url("main-background.jpg");
	text-align: center;
	
}
.wrapper {
  background-image: url("main-background.jpg");
  color: #444;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.ptwrapper {
	display: flex;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
#footer{
	position: absolute;
	bottom: 1;
	width: 100%;
	height: 60px;
}
.box {
  background-color: #444;
  background-image: url("health-background.jpg");
  color: #fff;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 25px;
}	
.button {
	background-color: #9fcdf2;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	&:hover {
		background-color: white;
		color: blue;
		border: 2px solid blue;
	}
}
.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.modal-content {
	width: 500px;
	height: 300px;
	background-color: #9fcdf2;
	background-image: url("modal-background.jpg");
	border-radius: 4px;
	text-align: center;
	padding: 20px;
	position: relative;
}
.modal-content .label {
	font-size: 1.5em;
	font-weight: bold;
}
a .save {
	font-size: 1em;
	font-weight: bold;
}
table, th, td {
	border: 1px solid black;
	background-color: #d6e5ff;
	height: 50px;
}
.header {
	background-image: linear-gradient(to bottom right, #567bc4, #b3b6bc);
	height: 70px;
	width: 100%;
	font-size: 2em;
}
.header img {
	float: left;
	width: 70px;
	height:70px;
}
h1 {
	color: black;
	font-family: 'Helvetica', 'Arial', sans-serif;
	text-align: center;
}
#provider select {
	width: 100%;
	height: 50px;
	border-radius: 15px;
	background: #7fb0c1;
}
#newsDisplay {
	display: inline-block;
	font-size: 12em;
}
#newswrap {
	text-align: center;
	display: inline-block;
	margin-top: 30px;
	width: 400px;
	min-height: 500px;
	height: auto;
}
#lookuppatient {
	width: 300px;
	display: inline-block;
	padding-top: 200px;
}
#displaypatient {
	display: inline-block;
	width: 800px;
}
#calculate {
	display: inline-block;
	width: 150px;
}
textarea {
	border: none;
	text-align: center;
    font-size: 1em;
	font-weight: bold;
}
.form {
	width: 400px;
	display: inline-block;
	padding-top: 100px;
}
